PDX Food Collaborative is a web app designed to reduce hunger and waste in the Portland metropolitan area by connecting folks who have extra food with others who could use that food.

The program was created by six Epicodus students studying Ruby and CSS in 2016.

<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//localhost%3A4567/aboutus">Share on Facebook</a>
<a href="https://twitter.com/home?status=http%3A//localhost%3A4567/aboutus">Share on Twitter</a>
