<div class="container">
  <br>
  <p>PDX Food Collaborative is a web app designed to reduce hunger and waste in the Portland metropolitan area by connecting folks who have extra food with others who could use that food.</p>

  <p>The program was created by six Epicodus students studying Ruby and CSS in 2016.</p>

  <div class=" card">

    <div class="card__image" id="card-2">
      <div class="image-overlay">
      </div>
      <img src="../img/amber.jpg" alt="" />
      <p>Amber - CSS</p>
    </div>

    <div class="card__image" id="card-2">
      <div class="image-overlay">
      </div>
      <img src="../img/niki.jpg" alt="" />
      <p>Niki - CSS</p>
    </div>

    <div class="card__image" id="card-2">
      <div class="image-overlay">
      </div>
      <img src="../img/leah.jpg" alt="" />
      <p>Leah - Ruby</p>
    </div>

    <div class="card__image" id="card-2">
      <div class="image-overlay">
      </div>
      <img src="../img/cory.jpg" alt="" />
      <p>Cory - Ruby</p>
    </div>

    <div class="card__image" id="card-2">
      <div class="image-overlay">
      </div>
      <img src="../img/sam.jpg" alt="" />
      <p>Sam - Ruby</p>
    </div>

    <div class="card__image" id="card-2">
      <div class="image-overlay">
      </div>
      <img src="../img/matt.jpg" alt="" />
      <p>Matt - Ruby</p>
    </div>
  </div>

  <br>
  <%= erb :social_links %>
</div>
