<<<<<<< HEAD
<div class="about-us">
  <!-- <img id="about-img" src="../img/dinner.jpeg" alt="" /> -->

  <p>PDX Food Collaborative is a web app designed to reduce hunger and waste in the Portland metropolitan area by connecting folks who have extra food with others who could use that food.

  The program was created by six Epicodus students studying Ruby and CSS in 2016.</p>
</div>


<%= erb :social_links %>
=======
<div class="container">
  <br>
  <p>PDX Food Collaborative is a web app designed to reduce hunger and waste in the Portland metropolitan area by connecting folks who have extra food with others who could use that food.</p>

  <p>The program was created by six Epicodus students studying Ruby and CSS in 2016.</p>
  <br>
  <%= erb :social_links %>
</div>
>>>>>>> master
