<div class="nav">
  <div class="navbar">
    <ul>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/users">Account</a></li>
      <li><a href="/inbox">Inbox</a></li>
      <li><% if session[:user_id] %><a href="/logout">Logout</a><% else %><a href="/login">Login</a><% end %></li>
    </ul>
  </div>
</div>
