<div class="nav">
  <div class="navbar">
    <ul>
      <li><div class="dropdown">
        <button class="dropbtn">About Us</button>
        <div class="dropdown-content">
          <a href="/aboutus">Who We Are</a>
          <a href="/foodwaste">Food Waste</a>
          <a href="/what_you_can_do">What You Can Do</a>
        </div>
      </div></li>
      <li><a href="/user">Account</a></li>
      <li><a href="/inbox">Inbox</a></li>
      <li><% if session[:user_id] %><a href="/logout">Logout</a><% else %><a href="/login">Login</a><% end %></li>
    </ul>
  </div>
</div>
