<ul>
<% if @user.messages.any? %>
    <% @user.messages.each do | message | %>
    <li><a href="/inbox/<%= message.id %>"><%= message.subject %></a></li>
    <% end %>
<% else %>
    <li>No messages found....</li>
<% end %>
</ul>
