<% if @user.messages.any? %>
  <ul>
    <% @user.messages.each do | message | %>
    <li><a href="/inbox/<%= message.id %>"><%= message.subject %></a></li>
    <% end %>
    <% else %>
  <li>No messages found....</li>
  </ul>
<% end %>
