<h3>Received:</h3>
<ul>
<% if @user.messages.received.any? %>
    <% @user.messages.received.each do | message | %>
    <li><a href="/inbox/<%= message.id %>"><%= message.subject %></a></li>
    <% end %>
<% else %>
    <li>No messages found....</li>
<% end %>
</ul>

<h3>Sent:</h3>
<ul>
<% if @user.messages.sent.any? %>
  <% @user.messages.sent.each do | message | %>
  <li><a href="/inbox/<%= message.id %>"><%= message.subject %></a></li>
  <% end %>
<% else %>
    <li>No messages found....</li>
<% end %>
</ul>
