<div class="wrap">

  <div class="content">
    <div class="produce">

      <h2>Strawberries</h2>
      <h3>Knobhill</h3>
      <h3>1 bushel</h3>
      <h3>$10</h3>
    </div>
    <div class="meat">
      <h2>Gouda</h2>
      <h3>Gresham</h3>
      <h3>2 lbs</h3>
      <h3>$15</h3>
    </div>
    <div class="dry">
      <h2>Baguettes</h2>
      <h3>South Hills</h3>
      <h3>4 loaves</h3>
      <h3>$5</h3>
    </div>
    <div class="frozen">
      <h2>Ice Cream</h2>
      <h3>Beaverton</h3>
      <h3>1 pint</h3>
      <h3>$2</h3>
    </div>

  </div>
</div>
</div>
