<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>PDX Food Collaborative</title>
  </head>
  <body>
      <% if @page == "home" %>
        <%= erb :header %>
        <% else %>
        <div class="navbar nav">
          <ul>
            <li><div class="dropdown">
              <button class="dropbtn">About Us</button>
              <div class="dropdown-content">
                <a href="/aboutus">Who We Are</a>
                <a href="/foodwaste">Food Waste</a>
                <a href="/what_you_can_do">What You Can Do</a>
              </div>
            </div></li>
            <li><a href="/users">Account</a></li>
            <li><a href="/inbox">Inbox</a></li>
            <li><% if session[:user_id] %><a href="/logout">Logout</a><% else %><a href="/login">Login</a><% end %></li>
          </ul>
        </div>
      <% end %>
    </div>
    <% if flash[:notice] %>
      <div class="alert alert-danger">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <!-- <div class="container"> -->
      <%= yield %>
    <!-- </div> -->
    <div class="alert alert-warning"> <h4>Debug:</h4>
      <% if session[:user_id] %>
      <p>Session ID: <%= session[:user_id] %></p>
      <% end %>
    </div>
  </body>
</html>
