<div class="container">
  <div class="message">
    <div class="msg-subject">
      <h3 id="message">Subject:</h3>
      <p><%= @message.subject %></p>
    </div>
    <div class="msg-body">
      <h3 id="message">Message:</h3>
      <p><%= @message.body %></p>
    </div>
  </div>
  <hr>

  <div class="reply">
    <h3 id="message">Reply</h3>
    <form class="" action="/inbox/<%= @message.id %>" method="post">
    <input type="text" class="form-control" name="title" placeholder="Message title...">
    <br>
    <textarea class="form-control" rows="15" cols="100" name="body" placeholder="Please type message here..."></textarea>
    <br>
    <button type="submit" class="btn btn-warning" name="button">Send</button>
    </form>
  </div>
</div>
