<div class="container">
  <div class="message">
    <div class="msg-subject">
    Subject: <%= @message.subject %>
    </div>
    <div class="msg-body">
    Message: <%= @message.body %>
    </div>
  </div>
  <hr>

  <h3>Reply:</h3>
  <div class="reply">
    <form class="" action="/inbox/<%= @message.id %>" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">
    <br>
    <label for="body">Message</label>
    <textarea name="body" class="form-control" rows="5" cols="40" placeholder="Please type message here..."></textarea>
    <button type="submit" name="button">Send</button>
    </form>
  </div>
</div>
