<h1>Add a new posting</h1>

<div>
  <form action="/postings/new" method="post">

    <label for="description">Item name</label>
    <input id="description" name="description" type="text">
    <br>
    <% if @categories.any? %>
      <label for="category_id">Select a Category</label>
      <select id='category_id' name='category_id' type='text'>
        <option></option>
        <% @categories.each { |category| %>
          <option value="<%= category.id %>"> <%= category.name %></option>
        <% } %>
      </select>
    <% end %>
    <br>
    <label for="category_name">Category Name</label>
    <input id="category_name" name="category_name" type="text" placeholder="Dairy, Meat, Fruit, etc">
    <br>
    <label for="source_type">Source Type</label>
    <select id="source_type" name="source_type" type="text">
      <option>Individual</option>
      <option>Restaurant</option>
      <option>Brewery</option>
      <option>Farm</option>
      <option>General Food Business</option>
      <option>Grocery Store</option>
      <option>Non-Profit</option>
    </select>
    <br>
    <label for="quantity">Quantity</label>
    <input id="quantity" name="quantity" type="text" placeholder="Serving size, grams, bunches, cups, etc">
    <br>
    <label for="location">Location</label>
    <select id="location" name="location" type="text">
      <option>North Portland</option>
      <option>Northwest Portland</option>
      <option>Southwest Portland</option>
      <option>Northeast Portland</option>
      <option>Southeast Portland</option>
    </select>
    <br>
    <label for="city">City</label>
    <select id="city" name="city" type="text">
      <option>Portland</option>
    </select>
    <br>
    <button type="submit">Add</button>
  </form>

  <hr>
  <span class="navigation"><a href="/">Home</a></span>
</div>
