<h1>Add a new posting</h1>

<div>
  <form action="/postings/new" method="post">
    <label for="item_name">Item name</label>
    <input id="item_name" name="item_name" type="text">
    <br>
    <label for="quantity">Quantity</label>
    <input id="quantity" name="quantity" type="text">
    <br>

    #Input drop-down form of category (dairy, meat, veggie, etc)
    #Input drop-down form of poster type (individual, restaurant, brewery, etc)
    #Input drop-down form of location by neighborhood (Lloyd, Pearl, Sellwood, etc)

    <button type="submit">Add</button>
  </form>

  <hr>
  <span class="navigation"><a href="/">Home</a></span>
</div>
