<div class="container">
  <form action="/user/new" class="form-signin" method="post">
    <h2 class="form-signin-heading">Create a new account</h2>
    <label for="email" class="sr-only">Email address</label>
    <input type="text" name="email" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
  </form>
</div>
