<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//localhost%3A4567/aboutus"><img src="img/facebook.png" alt="Facebook" class="social-icons"></a>

<a href="https://twitter.com/home?status=http%3A//localhost%3A4567/aboutus"><img src="img/twitter.png" alt="Twitter" class="social-icons"></a>
