<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//localhost%3A4567/aboutus">Share on Facebook</a>
<a href="https://twitter.com/home?status=http%3A//localhost%3A4567/aboutus">Share on Twitter</a>
