<div class="container">
  <br>
  <p>Take inventory of what you have in the fridge, freezer and pantry.
  Make a meal plan for the week - think about how much time you have to cook or whether you have any lunch or dinner engagements. If planning meals for an entire week is too much, try shopping two or even three times a week and only plan for a few days.
  <br>
  Make a shopping list and stick to the list.
  <br>
  Avoid the temptation to overstock your fridge, buy only what you need for the week.
  <br>
  Eat something so you are not hungry while shopping.
  <br>
  Ask your local grocery store if they would consider selling less than perfect fruits and vegetables, or having a discount bin for food nearing its “best before” dates.
  <br>
  Ask the grocery store manager if they donate edible but not sellable food to local food pantries and soup kitchens. Make sure to ask if they are donating not only bread and shelf stable items, but fruits, vegetables, dairy and meat as well.
  <br>
  Gather some friends and host a <a href="http://www.npr.org/sections/thesalt/2013/10/16/235355021/turning-food-waste-into-disco-soup">disco soup party</a>!
  </p>
  <%= erb :social_links %>
</div>
