#about-img {
  width: 100%; }

.about-us {
  position: absolute; }
  .about-us p {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    width: 50%;
    font-size: 3em;
    text-align: center;
    background: rgba(211, 208, 203, 0.8); }

body {
  background-color: #e7e5df; }

.header {
  background-image: url(../img/pasta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white; }
  .header h1, .header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    font-family: "glaresome"; }
  .header #search {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 25%;
    border-radius: 5px;
    opacity: .5;
    padding: 1%;
    text-align: center; }

@font-face {
  font-family: 'glaresome';
  src: url("../fonts/GLARESOMEregular.otf"); }
.navbar, .navbar2 {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

.nav {
  background-color: #500A0D;
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  box-shadow: 5px 5px 5px black; }
  .nav a {
    text-decoration: none;
    color: white; }
  .nav .logo {
    max-width: 140px;
    padding-right: 62%;
    padding-left: 4%; }
    .nav .logo #logo-img {
      max-width: 140px; }

.nav2 {
  background-color: #500A0D;
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  box-shadow: 5px 5px 5px black; }

li {
  display: inline;
  justify-content: flex-end;
  padding-right: 20px; }

#add-post {
  width: 10%;
  height: 10%;
  border-radius: 90px;
  margin-bottom: 1%;
  background-color: #ffb547; }

.content, .category-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'Raleway', sans-serif; }
  .content .card-container, .category-content .card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 4px;
    margin: 60px 5px 5px 5px;
    padding: 5px; }
  .content .card, .category-content .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 4px;
    margin: 5px;
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1); }
    .content .card:hover, .category-content .card:hover {
      box-shadow: 7px 7px 7px gray; }
  .content .card__description, .category-content .card__description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px; }
    .content .card__description h2, .category-content .card__description h2 {
      font-weight: bold; }
    .content .card__description #postings1, .category-content .card__description #postings1 {
      color: black;
      align-self: center; }
      .content .card__description #postings1:hover, .category-content .card__description #postings1:hover {
        color: #ffb547;
        text-decoration: none; }
    .content .card__description .post-details, .category-content .card__description .post-details {
      border-left: 2px solid #d3d0cb;
      padding-left: 20px; }
      .content .card__description .post-details h3, .category-content .card__description .post-details h3 {
        font-size: 1.3em;
        line-height: 5px;
        color: #335c67; }

.category-content {
  flex-direction: column; }

/* Dropdown Button */
.dropbtn {
  background-color: #500A0D;
  color: #f1f1f1;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ffb547; }

.non_home {
  float: left;
  display: inline;
  padding-top: 2%;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px; }
  .container h1 {
    font-family: 'glaresome';
    font-size: 7em; }
  .container .item {
    border-radius: 5px;
    background: #fff;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1); }
    .container .item strong {
      font-size: 3em;
      padding-right: 25px;
      align-self: center; }
    .container .item .col1 {
      font-size: 1em;
      padding-left: 25px;
      padding-top: 25px;
      border-left: 2px solid #d3d0cb; }
      .container .item .col1 h4 {
        color: #335c67;
        line-height: 30px; }
    .container .item .col2 {
      font-size: 1em;
      padding-left: 25px;
      padding-top: 25px; }
      .container .item .col2 h4 {
        color: #335c67;
        line-height: 30px; }
  .container #message {
    font-family: 'Raleway', sans-serif; }
  .container .btn-warning {
    background: #ffb547;
    color: white; }
  .container .btn-danger {
    background: #335c67;
    border: #335c67;
    color: white; }
  .container .btn-primary {
    background: #447a89;
    border: #447a89;
    color: white; }
  .container .who {
    border: 2px solid;
    padding: 2%; }
    .container .who h1 {
      font-size: 3em;
      text-align: center;
      font-family: 'glaresome'; }
  .container .who-card {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center; }
    .container .who-card img {
      border: 2px solid; }
  .container .me {
    display: flex;
    position: relative;
    padding: 2%; }
    .container .me p {
      position: absolute;
      top: 70%;
      left: 10%;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 2.5em;
      font-weight: bold; }
  .container .who-statement {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-align: center; }
  .container .food-waste {
    border: 2px solid;
    padding: 2%; }
    .container .food-waste h1 {
      font-size: 3em;
      text-align: center;
      font-family: 'glaresome'; }
    .container .food-waste div {
      font-size: 1.5em; }
  .container .what {
    border: 2px solid;
    padding: 2%; }
    .container .what p {
      font-size: 1.5em; }
    .container .what h1 {
      font-size: 3em;
      text-align: center;
      font-family: 'glaresome'; }

/*# sourceMappingURL=styles.css.map */
