body {
  background-color: #e7e5df; }

.header {
  background-image: url(../img/pasta.jpg);
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white; }
  .header h1, .header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    font-family: "glaresome"; }
  .header #search {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    border-radius: 5px;
    opacity: .5; }
.social-icons {
width: 30px;
height: 30px;
}

@font-face {
  font-family: 'glaresome';
  src: url("../fonts/GLARESOMEregular.otf"); }
.navbar, .navbar2 {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

.nav {
  background-color: #500A0D;
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  box-shadow: 5px 5px 5px black; }

.nav2 {
  background-color: #500A0D;
  display: flex;
  justify-content: space-around;
  padding-top: 1%; }

li {
  display: inline;
  justify-content: flex-end;
  padding-right: 20px; }

#add-post {
  width: 10%;
  height: 10%;
  border-radius: 90px;
  margin-bottom: 1%;
  background-color: #ffb547; }

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'Raleway', sans-serif; }
  .content .produce, .content .meat, .content .dry, .content .frozen {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 2px 4px;
    transition: all 0.2s ease-in-out; }
  .content .produce {
    background: url("../img/strawberries.jpeg");
    background-size: cover;
    background-repeat: no-repeat; }
    .content .produce h2, .content .produce h3 {
      display: none; }
    .content .produce:hover {
      cursor: pointer;
      opacity: .8; }
      .content .produce:hover h2, .content .produce:hover h3 {
        display: block;
        color: orange; }
  .content .meat {
    background: url("../img/cheese.jpeg");
    background-size: cover;
    background-repeat: no-repeat; }
    .content .meat h2, .content .meat h3 {
      display: none; }
    .content .meat:hover {
      cursor: pointer;
      opacity: .8; }
      .content .meat:hover h2, .content .meat:hover h3 {
        display: block;
        color: orange; }
  .content .dry {
    background: url("../img/bread.jpeg");
    background-size: cover;
    background-repeat: no-repeat; }
    .content .dry h2, .content .dry h3 {
      display: none; }
    .content .dry:hover {
      cursor: pointer;
      opacity: .9; }
      .content .dry:hover h2, .content .dry:hover h3 {
        display: block;
        color: orange; }
  .content .frozen {
    background: url("../img/icecream.jpeg");
    background-size: cover;
    background-repeat: no-repeat; }
    .content .frozen h2, .content .frozen h3 {
      display: none; }
    .content .frozen:hover {
      cursor: pointer;
      opacity: .8; }
      .content .frozen:hover h2, .content .frozen:hover h3 {
        display: block;
        color: orange; }

/*# sourceMappingURL=styles.css.map */
